<div class="lb-row">
  <div class="info-container">
    <div class="lb-data-label member">
      <%= @round.member.fname %>
    </div>
    <% @round.scores.each do |s|%>

      <div class="lb-data <%= 'bogey' if s.is_bogey? %> <%= 'double-bogey' if s.is_double_bogey? or s.is_other? %> <%= 'birdie' if s.is_birdie? %> <%= 'eagle' if s.is_eagle? or  s.is_albatros?%>">
          <div class="score-border">
            <span>
              <%= s.strokes %>
            </span>
          </div>
      </div>

    <% end %>
    <div class="lb-data-label member">
      <span>
        <%= @round.score %>
      </span>
    </div>
    </div>
  </div>
