<br>
<%= render "matches/partials/leaderboard" %><br>

<% if current_member.id==@match.scorer_id %>
  <div id="invites-list">
    <%= render "invites/all" %>
  </div>
  <%= form_for @match.invites.new,:url => match_invites_path(@match.id),remote:true do |f| %>
    <%= f.collection_select :member_id,@members,:id,:fname %>
    <%= f.submit %>
  <% end %>
<% end %>

<% @match.rounds.each do |r| %>
  <% @round=r %>
  <div class="card-view">
    <%= render 'rounds/show/cardview' %><br>
  </div>
<% end %>
